<header class="site-header">

    <!-- Logo and title -->
	<div class="branding">
        {% if site.avatar %}
		<a href="{{ '/' | relative_url }}">
			<img alt="logo img" class="avatar" src="{{ site.avatar | relative_url }}" />
		</a>
        {% endif %}

		<h1 class="site-title">
			<a aria-label="{{ site.title }}" href="{{ '/' | relative_url }}">
        {{ site.title }}
      </a>
		</h1>
	</div>

    <!-- Toggle menu -->
    <nav class="clear">
    <a aria-label="pull" id="pull" class="toggle" href="#">
    <i class="fa fa-bars fa-lg"></i>
    </a>

    <!-- Menu -->
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
		    <a class="nav-link" href="/about.html"> About</a>
		  </li>
			<li class="separator"> | </li>
			<li class="nav-item">
		    <a class="nav-link" href="/members.html"> Team</a>
		  </li>
			<li class="separator"> | </li>
			<li class="nav-item">
		    <a class="nav-link" href="https://github.com/astrolabsoftware/fink-broker"><i class="fa fa-github"></i> GitHub</a>
		  </li>
			<li class="separator"> | </li>
			<li class="nav-item">
		    <a class="nav-link" href="https://fink-broker.readthedocs.io/en/latest/"><i class="fa fa-book"></i> Documentation</a>
		  </li>
			<li class="separator"> | </li>
		  <li class="nav-item">
		    <a class="nav-link" href="https://supervision.lal.in2p3.fr/dashboard/db/fink-broker-system-status"><i class="fa fa-dashboard"></i> Monitoring</a>
		  </li>
		</ul>

	</nav>
</header>
